* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.bg-lift {
	background-color: var(--bg-panel);
	padding: var(--panel-gap);
}

.vievport-vertical-fill {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.inner-panel {
	padding: var(--panel-gap);
	background-color: var(--bg-panel-lift);
	border-radius: var(--panel-radius);
	color: white;
	box-shadow: var(--shadow-med);
}
