:root {
	--bg: #333333;
	--bg-panel: #434343;
	--bg-panel-lift: hsl(0, 0%, 36%);
	--color-heading: #0077ff;
	--color-text: #b5b5b5;

	--panel-gap: 2rem;
	--panel-radius: 1rem;

	--shadow-high: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
		rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	--shadow-low: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--shadow-med: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
